<a href="https://colab.research.google.com/github/MohamedMostafaSal/UnstructuredProjects/blob/main/NLP/Intro%20to%20Text%20Classification/Text_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dataset**
labeled datasset collected from twitter

**Objective**
classify tweets containing hate speech from other tweets.
0 -> no hate speech
1 -> contains hate speech

**Total Estimated Time = 90 Mins**

### Import Libraries

In [ ]:
import pandas as pd
import re
from sklearn.model_selection import train_test_split
import pandas as pd
from collections import Counter
import random
from termcolor import colored
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity, cosine_distances

### Load Dataset

In [ ]:
import pandas as pd

pd.read_csv('')

In [ ]:
df = pd.read_csv('/content/dataset (1).csv')
df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [ ]:
del df['id']
df.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

### EDA

- check NaNs

In [ ]:
df.isna().sum()

label    0
tweet    0
dtype: int64

- check duplicates

In [ ]:
df['tweet'].duplicated().sum()

2432

- show samples of data texts to find out required preprocessing steps

In [ ]:
df.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

- check dataset balancing

In [ ]:
#Use SMOT
df['label'].value_counts()

0    29720
1     2242
Name: label, dtype: int64

- Cleaning and Preprocessing are:
    - 1 Drop emojies
    - 2 Drop Duplicates
    - 3 Drop @user and Hashtags

### Cleaning and Preprocessing

In [ ]:
#DeEmojies library
def dropEmojies(string):
  emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                      "]+", re.UNICODE)
  return emoji_pattern.sub(r'', string)

In [ ]:
df['tweet'] = df['tweet'].apply(lambda x : dropEmojies(x))

In [ ]:
def remove_hashtag(string):
    return re.sub(r"#","",string)

In [ ]:
df['tweet'] = df['tweet'].apply(lambda x: remove_hashtag(x))

In [ ]:
def drop_users(string):
    return re.sub(r"@\S+","",string)

In [ ]:
df['tweet'] = df['tweet'].apply(lambda x: drop_users(x))

**If it takes 60 Mins till here, you are doing Great** <br>
**If not! You also are doing Great**

### Modelling

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn import metrics

In [ ]:
train,test = train_test_split(df,test_size=0.3)

In [ ]:
vec = CountVectorizer()
clf = LogisticRegression()
pipe = make_pipeline(vec, clf)
pipe.fit(train.tweet, train.label);

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

#### Evaluation

In [ ]:
def print_report(pipe, x_test, y_test):
    y_pred = pipe.predict(x_test)
    report = metrics.classification_report(y_test, y_pred)
    print(report)
    print("accuracy: {:0.3f}".format(metrics.accuracy_score(y_test, y_pred)))

print_report(pipe, test.tweet, test.label)

              precision    recall  f1-score   support

           0       0.96      0.99      0.98      8880
           1       0.87      0.51      0.64       709

    accuracy                           0.96      9589
   macro avg       0.92      0.75      0.81      9589
weighted avg       0.96      0.96      0.95      9589

accuracy: 0.958

### Enhancement

- Using different N-grams
- Using different text representation technique

In [ ]:
vec_2 = CountVectorizer(ngram_range=(1, 3))
clf_2 = LogisticRegression()
pipe_2 = make_pipeline(vec_2, clf_2)
pipe_2.fit(train.tweet, train.label);
print_report(pipe_2, test.tweet, test.label)

              precision    recall  f1-score   support

           0       0.96      1.00      0.98      8880
           1       0.90      0.44      0.59       709

    accuracy                           0.95      9589
   macro avg       0.93      0.72      0.78      9589
weighted avg       0.95      0.95      0.95      9589

accuracy: 0.955

In [ ]:
vec_3 = CountVectorizer(ngram_range=(1, 5))
clf_3 = LogisticRegression()
pipe_3 = make_pipeline(vec_3, clf_3)
pipe_3.fit(train.tweet, train.label);
print_report(pipe_3, test.tweet, test.label)

              precision    recall  f1-score   support

           0       0.95      1.00      0.98      8880
           1       0.93      0.39      0.55       709

    accuracy                           0.95      9589
   macro avg       0.94      0.70      0.76      9589
weighted avg       0.95      0.95      0.94      9589

accuracy: 0.953

In [ ]:
vec_4 = TfidfVectorizer(analyzer='char_wb', ngram_range=(3, 5), min_df=.01, max_df=.3)
clf_4 = LogisticRegression()
pipe_4 = make_pipeline(vec_4, clf_4)
pipe_4.fit(train.tweet, train.label);
print_report(pipe_4, test.tweet, test.label)

              precision    recall  f1-score   support

           0       0.95      0.99      0.97      8880
           1       0.86      0.40      0.55       709

    accuracy                           0.95      9589
   macro avg       0.91      0.70      0.76      9589
weighted avg       0.95      0.95      0.94      9589

accuracy: 0.951

#### Done!